

<article class="color-keyframes">
	<div class="demo active">
    <h3 class="demo-title">Example 1</h3>
		<div class="demo-content property-keyframes-demo">
            <div class="circle el keyframes" [anime]="example1"></div>		</div>
	</div>
</article>
<article class="color-keyframes">
	<div class="demo active">
    <h3 class="demo-title">Example 2</h3>
		<div class="demo-content property-keyframes-demo">
            <div class="circle el keyframes" [anime]="example2"></div>		</div>
	</div>
</article>
<article class="color-keyframes">
	<div class="demo active">
    <h3 class="demo-title">Example 3</h3>
		<div class="demo-content property-keyframes-demo">
            <div class="circle el keyframes" [anime]="example3"></div>		</div>
	</div>
</article>